---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->
<style>
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 5px;
  color: #0066cc;
}
  h2 {
    text-align: left;
    font-style: italic;
    letter-spacing: 5px;
    font-size: 24px;
    color: #009900;
  }
  </style>


<h1>🚀🤖 Inspiration - Envisioning a Future with AI and robotics 🤖🚀</h1>
<p align=”justify” text-align: "justify">As a recent MS graduate from NYU my academic journey has been driven by a passion for merging technology with human potential. My focus has been on developing vision-based systems that enhance automation and human performance, redefining efficiency across diverse sectors.  </p>

<p align=”justify” text-align: "justify"> My work on Visual Place Recognition (VPR) stands at the forefront of this endeavor. VPR, a complex challenge of identifying a location from varying perspectives and conditions, is pivotal for the advancement of autonomous navigation and smart manufacturing. By delving into the intricacies of sequential information, I aim to refine the algorithms that will make VPR not just a possibility, but a reliable resource. </p>

<p align="justify" text-align:"justify"> Beyond the technical realm, my interests span politics, economics, and personal finance. This eclectic mix empowers me to gauge the societal implications of technological breakthroughs. It’s a balance of innovation and conscience, ensuring that our strides in robotics and AI are aligned with ethical standards and contribute positively to our collective future.  </p>

<p align="justify" text-align:"justify"> As I step out of the academic world and into the professional sphere, I carry with me a vision for a world where drones soar to new heights, manufacturing evolves with precision, and autonomous systems navigate the path to progress. I am eager to collaborate with pioneers who share this vision, where together, we can turn these aspirations into tangible realities.  </p>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}



