---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->

<b>A little bit about me...</b>
<hr>
Highly capable, creative, result oriented professional with strong technology background.<br>
I am currently working with Walmart Labs at their Bangalore office as a Software Engineer.
I graduated from BITS Pilani in May of 2016, after spending four arduous, exciting years.<br><br>
I am broadly interested in machine learning, natural language processing and data integration.

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
