---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>

I am a Software Engineer at Walmart Labs, Bangalore, India. Prior to this, I worked with Mr. Mischa Schmidt at NEC Laboratories, Heidelberg, Germany while working on my final semester thesis.
I completed my bachelors degree from BITS Pilani, Pilani in 2016.

Further details about my work can be found in the Projects section.


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
